<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
   
    <mapper namespace="fleaMarket.a03_dao.Req3000_Dao">

        
        
<!--  

	private String title;
	private String content;
	private String bisenessNumber;
	private String email;
	private String approvalMaxCnt;
	private String recruitmentStartDate;
	private String recruitmentEndDate;
	private String openDate;
	private String closeDate;
	private String checkForm; 
	private String address;
	
-->        
       <insert id="insertFleaMarket" parameterType="fleamarket">
    insert into FleaMarket
       values(fleaMarket_seq.nextval,#{title}, sysdate,
         #{content},#{bisenessNumber},#{email},#{approvalMaxCnt},
         #{recruitmentStartDate},#{recruitmentEndDate},#{openDate},#{closeDate},
         #{checkForm},#{viewCnt},#{address})
      </insert> 
      
  
  
    </mapper>
    
    